.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 93, 40);
  border-radius: 24px;

  color: white;
}

.site-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px; 
}

.projects-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}