body {
  margin: 0;
  font-family: Karla, Roboto;
  color: white;

  background-image: url("Spacewallpaper.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

